.index {
    background: rgb(174, 198, 218);
    font-family: sans-serif;
    text-align: center;
    color:rgb(17, 18, 20);
}

.recipe {
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    color:rgb(17, 18, 20);
    text-align: center;
    max-width: 800px;
    background-color:rgb(242, 242, 242);
}

.recipe-container {
    border-radius: 20px;
    border: 30px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

#ingredients {
    border-radius: 20px;
    padding: 20px 40px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    box-shadow: 0 5px 10px rgb(45 34 60/12%);
}

ul {
    list-style-position: inside;
    list-style: disc;
}

h1 {
    font-weight: bold;
    font-size:xx-large;
    letter-spacing: 10px;
}

h2, h3 {
    text-transform: uppercase;
    font-size: medium;
    letter-spacing: 3px;

}

h4 {
    text-transform: uppercase;
    font-size: small;
    letter-spacing: 3px;
}

a:link, a:visited {
    text-decoration: none;
    font-weight: thin;
    font-size: small;
    text-transform: uppercase;
    color: black;
}

a:hover {
    font-weight: bold;
    color: black;
}

hr.solid {
    border-top: 3px;
    color: black;
  }

  img {
    border-radius: 20px;
  }


